.list-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
  }

 

  .result-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .list-container h2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #000000;
  }
  
  .list-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .list-container li {
    margin-bottom: 20px;
  }
  
  .list-container figure {
    border: 1px solid #000;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    
 }

 figure {
  width: 90%;
  margin:5px;
 }
 
  
  
  .list-container figure h4 {
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .list-container figure p {
    display: flex;
    align-items: center;
    justify-content:start;
    
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    color: #000000;
    margin: 0;
  }
  
  .list-item {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 8px;
    
    
  }

  .list-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .list-container button:hover {
    background-color: #0056b3;
  }
  
  .list-container button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
  }
  
  .list-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  