/* Estilos Generales */
header {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  height: 15vh;
  
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  background-color: #6191e4;
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.header nav a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header nav a:hover {
  text-decoration: underline;
}

.header nav button {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.header nav button:hover {
  background-color: #f1f1f1;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header nav ul {
    flex-direction: column;
    gap: 1rem;
    display: none;
    width: 100%;
  }

  .header nav ul.active {
    display: flex;
  }

  .header nav .hamburger {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #000000;
    padding: 0;
    margin-bottom: 1rem;
  }

  .header nav ul li {
    width: 100%;
  }

  .header nav ul li a,
  .header nav ul li button {
    width: 100%;
    text-align: left;
  }
}
