header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    background-color: #6191e4;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #ffffff;
    min-height: 75vh;
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #6191e4;
  }